body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-image: linear-gradient(royalBlue, skyBlue)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    color: royalblue;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 170px;
}

#highscores{
    float: left;
    font-size: 25px;
    display: flex;
    font-weight: bold;
    color: royalblue;
}

#timer{
    float: right;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-right: 22px;
    color: black;
}

#timeTitle{
    float: right;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
    color: black;
}

h1 {
    text-align: center;    
    margin-top: 150px;
    font-size: 75px;
    margin-bottom: 15px;

}

#p1 {
    text-align: center;
    display: block;   
    font-size: 20px;
}

#start-button {
    text-align: center;
    margin-top: 25px;
}

.Question{
    font-size: 30px;
    margin-left: 550px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
    width: 800px;
    margin-top: 150px;
}
.start-button {
    font-size: 25px;
    padding: 1%;
    border-radius: 15px;
}
.answer1,
.answer2,
.answer3,
.answer4 {
    margin-left: 550px;
    font-size: 20px;
    line-height: 2;
    display: block;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 5px;

}

.option_list{
    padding: 20px 0px;
    display: block;   
}
.quiz_intro{
    margin-bottom: 10px;
}

.none{
    display: none;
}

.rightWrong {
    font-size: 30px;
}

.rightWrong.right {
    color: green;
    
}

.rightWrong.wrong {
    color: red;
}

#finalScore {
    display: inline;
}
#p2 {
    display: inline;
}
